* {
    font-family: 'comic sans ms' !important;
    padding-left: 200px !important;
    padding-right: 200px !important;
    margin-bottom:20px !important;
    border-radius: 20% !important;
}
h1 {
    text-align:center !important;
    align-self:auto !important;
    color: #df8e1d !important;
    font-size: 5em !important;
}
@keyframes spin-around{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
*:hover{
    display: inline-block !important;
    animation-name: spin-around !important;
    animation-duration: 1s !important;
}
img{
    align-self: center !important;
    text-align: center !important;
    border-radius: 10% !important;
    align-content: center !important;
    justify-content: center !important;
    justify-self: center !important;
    justify-items: center !important;
    display: block !important;
    margin: 0 auto !important;
}
button {
    color: green !important;
    background-color: aqua !important;
    border-width: 0 !important;
    border-radius:100px !important;
}
